[
{% for mergeRequest in body %}
  {
    "id": {{ mergeRequest.iid }},
    "title": "{{ mergeRequest.title }}",
    "status": "{{ mergeRequest.labels[0] }}",
    "author": "{{ mergeRequest.author.name }}",
    "description": "{{ mergeRequest.description }}"
  }{{ "," if not loop.last }}
{% endfor %}
]
