[
{% for file in body %}
  {
    "id": "{{ file.name | replace('Article_', '') | replace('.md', '') }}",
    "name": "{{ file.name | replace('.md', '') }}"
  }{{ "," if not loop.last }}
{% endfor %}
]
