body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, abbr, address, article, aside, audio, b, blockquote, body,
caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em,
fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, p, pre, q, samp, section, small,
span, strong, sub, sup, table, tbody, td, tfoot, th, thead,
time, tr, ul, var, video
{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.ins {
  background-color: #acf2bd;
}

.del {
  background-color: #fdb8c0;
}
